{% extends "base.html" %}

{% block title %}{{ ION_AUTHOR_HEAD_TITLE }} {{ author }} - {{ super() }}{% endblock title %}
{% block description %}{{ ION_AUTHOR_HEAD_DESCRIPTION }} {{ author }}{% endblock description %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="main-section archive-container">
        <h2>{{ ION_L['author'] }}{{ ION_L['colon_space'] }}{{ author }}</a></h2>
        <dl class="dl-horizontal">
          {% for article in articles %}
            <dt>{{ article.date|strftime(ION_DATE_FORMAT) }}</dt>
            <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
          {% endfor %}
        </dl>
      </div>
    </div>
  </div>
{% endblock content %}
