{% if articles_paginator.num_pages > 1 %}
<!-- /Navigation -->
<div class="clearfix navigation">
  {% if articles_page.has_previous() %}
    <a class="navigate pull-left" href="{{ SITEURL }}/{{ articles_previous_page.url }}">
      <i class="fa fa-arrow-left"></i>
      {{ ION_L['previous_page'] }}
    </a>
  {% endif %}
  {% if articles_page.has_next() %}
    <a class="navigate pull-right" href="{{ SITEURL }}/{{ articles_next_page.url }}">
      {{ ION_L['next_page'] }}
      <i class="fa fa-arrow-right"></i>
    </a>
  {% endif %}
</div>
<!-- /Navigation -->
{% endif %}
