<div class="main-section archive-container">
  {% if DEFAULT_PAGINATION %}
    <h2>{{ ION_L['all_articles'] }} {% if articles_page.has_previous() %}<small>- {{ ION_L['nth_page'].format(articles_page.number) }}</small>{% endif %}</h2>
    <dl class="dl-horizontal">
      {% if articles_page.object_list %}
        {% for article in articles_page.object_list %}
          <dt>{{ article.date|strftime(ION_DATE_FORMAT) }}</dt>
          <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
        {% endfor %}
      {% else %}
        <dt>{{ ION_L['no_article_yet'] }}</dt>
        <dd></dd>
      {% endif %}
    </dl>
    {% include 'pagination.html' %}
  {% else %}
    <h2><a href="{{ SITEURL }}/">{{ ION_L['all_articles'] }}</a></h2>
    <dl class="dl-horizontal">
      {% if articles %}
        {% for article in articles %}
          <dt>{{ article.date|strftime(ION_DATE_FORMAT) }}</dt>
          <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
        {% endfor %}
      {% else %}
        <dt>{{ ION_L['no_article_yet'] }}</dt>
        <dd></dd>
      {% endif %}
    </dl>
  {% endif %}
</div>
